@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome to the CDC Webstore!</h1>
	<p><a asp-area="" asp-controller="Products" asp-action="Index">Browse</a> our inventory</p>
</div>
